@page
@model _2021IMMS.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<body>
    <form method="post">
        <div class="container jumbotron">
            <table>
                <tr>
                    <td>
                        <div class="radio">
                            <input asp-for="radUser" id="radFaculty" type="radio" value="Faculty" />
                            <label for="radFaculty">Faculty &nbsp;</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input asp-for="radUser" id="radStudentWorker" type="radio" value="StudentWorker" />
                            <label for="radStudentWorker">Student Worker &nbsp;</label>
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            <input asp-for="radUser" id="radStudent" type="radio" value="Student" />
                            <label for="radStudent">Student &nbsp;</label>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td>
                        <label asp-for="EmailAddress" class="font-weight-bold">Email Address</label>
                    </td>
                    <td>
                        <input asp-for="EmailAddress" type="text" />
                    </td>
                </tr>
            </table>
            <br />
            <table>
                <tr>
                    <td>
                        <input asp-page-handler="SendPassword" class="btn-primary" formnovalidate type="submit" value="Send Password" />
                    </td>
                    <td>
                        <input asp-page-handler="Cancel" class="btn btn-red" type="submit" value="Cancel" formnovalidate />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
